*.a
.vscode/
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.bin/
.obj/
bin/
obj/
Makefile
*.make
*.so
*.dylib
*.dll
.DS_Store
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.ninja_deps
.ninja_log
*.ninja
*.dir
x64/
lib/
